<% include ./partials/header %> 


	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Your cart</h4>
			<div class="site-pagination">
				<a href="">Home</a> /
				<a href="">Your cart</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- checkout section  -->
	<section class="checkout-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 order-2 order-lg-1">
					<form class="checkout-form" action="/barang2/transaksi/<%=transaksi.id%>?_method=PATCH" method="POST" >
						<div class="cf-title">Billing Address</div>
						
						<div class="row address-inputs">
							<div class="col-md-12">
								<input type="text" name="alamat" placeholder="alamat">
								<input type="text" name="metode" placeholder="metode pembayaran">
							</div>
							
						</div>
						
						<button class="site-btn submit-order-btn">Place Order</button>
					</form>
				</div>
				<div class="col-lg-4 order-1 order-lg-2">
					<div class="checkout-cart">
						<h3>Your Cart</h3>
						<ul class="product-list">
							<li>
								<div class="pl-thumb"><img src="data:image/png;base64,<%=buffer%>" alt=""></div>
								<h6><%=transaksi.name%></h6>
								<p><%=transaksi.harga%></p>
								<P>Qty <%=transaksi.jumlah%></P>
							</li>
						</ul>
						<ul class="price-list">
							<li>Total<span><%=transaksi.totalHarga%></span></li>
							<li>Shipping<span>free</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- checkout section end -->

<% include ./partials/footer %> 